.header-logo {
  height: 5vmin;
  pointer-events: none;
  margin: 5px;
}

header {
  float: left;
  width: 100%;
  background: linear-gradient(90deg, #E80A89 0%, #F15B2A 100%);
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  background-color: lightgray;
  color: darkslategrey;
  font-size: calc(10px + 2vmin);
}

main h1 {
  margin-top: 0;
}

main .box {
  background-color: white;
  border: 1px solid darkslategrey;
  box-shadow: 5px 3px 5px deeppink;
  max-width: 300px;
  max-height: 300px;
  margin: 20px;
}

main .box h2 {
  color: white;
  font-weight: bolder;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  margin: 0;
}

main .box p {
  padding: 10px;
}

main :link,
main :visited {
  color: darkslategrey;
  text-decoration: none;
}


footer {
  width: 100%;
  background: linear-gradient(90deg, #E80A89 0%, #F15B2A 100%);
  min-height: 10vh;
  line-height: 10vh;
  vertical-align: middle;
  padding-left: 10px;;
  font-size: calc(10px + 2vmin);
  color: white;
}

footer :link,
footer :visited {
  color: white;
  text-decoration: none;
}